@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section class="s-content">
    <article class="row format-standard">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title text-danger">
                @ViewData["Title"]
            </h1>
            <h3 class="text-danger">
                You do not have access to this resource.
            </h3>
        </div>
    </article>
</section>