@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="s-content">
    <article class="row format-standard">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                @ViewData["Title"]
            </h1>
            <h3>
                Thank you for confirming your email.
            </h3>
        </div>
    </article>
</section>