@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1 class="s-content__header-title">
            @ViewData["Title"]
        </h1>
        <h3>
            Enter your email.
        </h3>
        <hr/>
    </div>
    <div class="row s-content__header">
        <div class="col-md-offset-4 col-md-4">
            <form method="post" asp-antiforgery="true">
                <div class="form-field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="full-width" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-cust btn-cust--stroke full-width">Submit</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}