@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1 class="s-content__header-title">
            @ViewData["Title"]
        </h1>
        <h4>
            Please check your email to reset your password.
        </h4>
        <hr/>
    </div>
</section>