@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h3 class="text-danger">This account has been locked out, please try again later.</h3>
        <hr />
    </div>
</section>