@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <h4>
            You have requested to log in with a recovery code. This login will not be remembered until you provide
            an authenticator app code at log in or disable 2FA and log in again.
        </h4>
        <hr/>
    </div>
    <div class="row s-content__header">
        <div class="col-md-offset-4 col-md-4">
            <section>
                <form method="post" asp-antiforgery="true">
                    <div class="form-field">
                        <label asp-for="Input.RecoveryCode"></label>
                        <input asp-for="Input.RecoveryCode" class="full-width" autocomplete="off" placeholder="Code"/>
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn-cust btn-cust--stroke full-width">Log in</button>
                </form>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}