@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <h4>Your login is protected with an authenticator app. Enter your authenticator code below.</h4>
        <hr/>
    </div>
    <div class="row s-content__header">
        <div class="col-md-offset-4 col-md-4">
            <section>
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl" asp-antiforgery="true">
                    <input asp-for="RememberMe" type="hidden"/>
                    <div class="form-field">
                        <label asp-for="Input.TwoFactorCode"></label>
                        <input asp-for="Input.TwoFactorCode" class="full-width" autocomplete="off" placeholder="Code"/>
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-field">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine">
                                <input asp-for="Input.RememberMachine"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </div>
                    <div class="form-field">
                        <button type="submit" class="btn-cust btn-cust--stroke full-width">Log in</button>
                    </div>
                </form>
                <p>
                    Don't have access to your authenticator device? You can
                    <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                </p>
            </section>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}