@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <h4>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </h4>
        <hr/>
    </div>
</section>