@model PostCreateViewModel
@{
    ViewData["Title"] = "Create New Post";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>@ViewData["Title"]</h1>
        <h3 class="text-danger">@Html.ValidationMessage("errorMsg")</h3>
        <hr/>
    </div>

    <div class="row">
        <form asp-action="AddPost" asp-antiforgery="true" class="postForm" method="post"
              novalidate="novalidate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="full-width" type="text" required="required"
                       name="Title" placeholder="Title"/>
            </div>
            <div class="form-field">
                <label asp-for="Slug"></label>
                <em>This is the part of the URL that will be used to identify this post</em>
                <input asp-for="Slug" class="full-width" type="text" required="required"
                       name="Slug" placeholder="Slug"/>
            </div>

            <div class="form-field">
                <label asp-for="Description"></label>
                <em>Short post description displayed on home-page</em>
                <textarea asp-for="Description" class="form-control" required="required"
                          name="Description" style="resize: vertical;" rows="5" 
                            placeholder="Post description">
                </textarea>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="summernote form-control" required="required"
                          data-msg="Post content cannot be empty." style="display: none;">
                    </textarea>
            </div>
            <label class="form-field add-bottom">
                <span class="label-text">Publish post?</span>
                <input asp-for="Publish" type="checkbox"/>
            </label>

            <div class="form-field">
                @Html.ActionLink("Back to List", "Index", new {}, new {@class = "btn-cust btn-cust--danger"})
                <input type="submit" value="Create" class="btn-cust btn-cust--success" id="btnSubmit"/>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("https://cdn.jsdelivr.net/npm/jquery-validation@1.14.0/dist/jquery.validate.min.js")"></script>

    <script>
        $(document).ready(function() {
            $(function() {
                var postForm = $('.postForm');
                var contentEditor = $('.summernote');

                var postFormValidation = postForm.validate({
                    rules: {
                        "Description": {
                            required: true,
                            minlength: 3,
                            maxlength: 300
                        },
                        "Title": {
                            required: true,
                            minlength: 3,
                            maxlength: 100
                        },
                        "Slug": {
                            required: true,
                            minlength: 1,
                            maxlength: 100
                        }
                    },
                    messages: {
                        "Description": {
                            required: "Post description cannot be empty.",
                            minlength: "Minimum length of 3 characters.",
                            maxlength: "Maximum length of 300 characters."
                        },
                        "Title": {
                            required: "Post title cannot be empty.",
                            minlength: "Minimum length of 3 characters.",
                            maxlength: "Maximum length of 100 characters."
                        },
                        "Slug": {
                            required: "Post slug cannot be empty.",
                            minlength: "Minimum length of 1 character.",
                            maxlength: "Maximum length of 100 characters."
                        }  
                    },
                    errorElement: "div",
                    errorClass: 'is-invalid',
                    validClass: 'is-valid',
                    ignore: ':hidden:not(.summernote),.note-editable.card-block',
                    title: { rangelength: [10, 250] },
                    errorPlacement: function(error, element) {
                        error.addClass("invalid-feedback");
                        error.addClass("text-danger");
                        if (element.prop("type") === "checkbox") {
                            error.insertAfter(element.siblings("label"));
                        } else if (element.hasClass("summernote")) {
                            error.insertAfter(element.siblings(".note-editor"));
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });

                contentEditor.summernote({
                    height: 600,
                    disableResizeImage: true,
                    callbacks: {
                        onChange: function(contents, $editable) {
                            contentEditor.val(contentEditor.summernote('isEmpty') ? "" : contents);
                            postFormValidation.element(contentEditor);
                        }
                    }
                });

            });
        });
    </script>
}