@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model PostViewModel

<section id="comments">
    <h2>Comments</h2>
    @foreach (var comment in Model.Comments)
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>@comment.AuthorDisplayName</h3>
                    <h5>@comment.PubDate</h5>

                    <p>@comment.Content</p>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteComments")).Succeeded)
                    {
                        <button type="button" id="btnDelete-@comment.Id"
                                class="btn btn-danger btn-xs pull-right btnDeleteComment">
                            Delete
                        </button>
                    }
                </div>
            </div>
        </div>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "CanDeleteComments")).Succeeded)
    {
        <form asp-controller="PostManager" asp-action="DeleteComment"
              method="post" id="deleteCommentForm" asp-antiforgery="true"></form>
    }
</section>
