@using Microsoft.AspNetCore.Identity
@using Blog.Areas.Identity.Data
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" 
              asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm" asp-antiforgery="true">
            <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign out">Sign out</a>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register" title="Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login" title="Login">Login</a>
    </li>
}