@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    var errorMessage = "";
    switch (Model.RequestId)
    {
        case "400":
            errorMessage = "Bad request.";
            break;
        case "403":
            errorMessage = "Forbidden!";
            break;
        case "404":
            errorMessage = "Page not found.";
            break;
        case "408":
            errorMessage = "Request timeout.";
            break;
        case "429":
            errorMessage = "Too Many Requests.";
            break;
        case "500":
            errorMessage = "Internal Server Error.";
            break;
        default:
            errorMessage = "Something went wrong :(";
            break;
    }
    ViewData["ErrorMessage"] = errorMessage;
}
else
{
    ViewData["ErrorMessage"] = "An error occurred while processing your request.";
}

<section class="s-content">
    <article class="row format-standard">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                @ViewData["ErrorMessage"]
            </h1>
        </div>
    </article>
</section>