@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Account";
}

<section class="s-content">
    <div class="row s-content__header">
        <h1>Manage your account</h1>
        <p class="lead">Change your account settings</p>
        <partial name="_ManageNav"/>
    </div>
    <div class="row">
        @RenderBody()
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)}