@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row">
<div class="col-md-offset-3 col-md-6">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <h4>@ViewData["Title"]</h4>

    <p>To use an authenticator app go through the following steps:</p>
    <ol class="list">
        <li>
            <p>
                Download a two-factor authenticator app like Microsoft Authenticator for
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                Google Authenticator for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">
                    Android
                </a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">
                    iOS
                </a>.
            </p>
        </li>
        <li>
            <p>Enter this key <kbd>@Model.SharedKey</kbd> 
                into your two factor authenticator app. Spaces and casing do not matter. 
                Select time-based and in the account name input your username.</p>
        </li>
        <li>
            <p>
                Once you have input the key above, 
                your two factor authentication app will provide you
                with a unique code. Enter the code in the confirmation box below.
            </p>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" asp-antiforgery="true">
                        <div class="form-field">
                            <label asp-for="Input.Code">Verification Code</label>
                            <input asp-for="Input.Code" class="full-width" autocomplete="off" 
                                   placeholder="Verification code" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn-cust btn-cust--stroke full-width">
                            Verify
                        </button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
