@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h4>@ViewData["Title"]</h4>
        @Html.Partial("_StatusMessage", Model.StatusMessage)

        <form id="profile-form" method="post" asp-antiforgery="true">
            <div class="form-field">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="full-width" disabled placeholder="Username"/>
            </div>
            <div class="form-field">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="full-width" placeholder="Email"/>
                @if (Model.IsEmailConfirmed)
                {
                    <label class="text-success">Email confirmed</label>
                }
                else
                {
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail"
                            class="btn-cust btn-cust--stroke full-width">
                        Send verification email
                    </button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-field">
                <div class="form-field">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="full-width" placeholder="Full name" />
                </div>
                <div class="form-field">
                    <label asp-for="Input.DisplayName"></label>
                    <input asp-for="Input.DisplayName" class="full-width" placeholder="Display name"/>
                </div>
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="full-width" placeholder="Phone number"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-cust btn-cust--stroke full-width">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
